<nav class="navbar navbar-fixed-bottom">
  <div class="menu-bottom">
    <ul class="nav navbar-nav">
      <%= link_to root_path do %><i class="fa fa-home" aria-hidden="true"></i><% end %>
      <%= link_to new_recipe_path do %><i class="fa fa-plus-square" aria-hidden="true"></i><% end %>
      <%= link_to "#" do %><i class="fa fa-search" aria-hidden="true"></i><% end %>
    </ul>
  </div>
</nav>
