.navbar-nav {
  text-align:center;
  float:none;
  background: #fff;
  font-size: 30px;
  margin-bottom: 0px;
}
.navbar-nav li {
  display:inline-block;
  float:none;
}
.fa-plus-square {
  margin: 0px 35px;
}
